{varType Wavevision\PosobotaExamples\UI\Title\TitleProps $title}
<div class="container">
	<div class="row">
		<div class="col-auto mr-auto">{control title, $title}</div>
		<div class="col-auto d-flex">{control languageSelector}</div>
	</div>
</div>
<hr>
