{form form}
	<div class="form-group">
		{input Wavevision\PosobotaExamples\Components\SearchForm\Factory::KEYWORD, class => 'form-control'}
	</div>
	<div class="form-group">
		{input Wavevision\PosobotaExamples\Components\SearchForm\Factory::SEARCH, class => 'btn btn-primary'}
	</div>
{/form}
