{varType array $jokes}
{varType string $keyword}
{block content}
{control header}
<h2 class="h2">{='searching'|translate}: {$keyword}</h2>
{control searchForm}
<ul class="list-group" n:inner-foreach="$jokes as $joke">
	<li class="list-group-item">{$joke}</li>
</ul>
