application:
	mapping:
		*: Wavevision\PosobotaExamples\*Module\Presenters\*Presenter

session:
	autoStart: true
	debugger: true
	expiration: 14 days

services:
	router: Wavevision\PosobotaExamples\Router\RouterFactory::createRouter

includes:
	- %vendorDir%/wavevision/latte-filters/config/common.neon
	- services.neon
	- translation.neon
	- webpack.neon
	- ui.neon

parameters:
	currencyRateFeed: http://www.floatrates.com/daily/eur.json
