{templateType Wavevision\PropsControl\PropsControlTemplate}
{varType string $url}
<svg n:class="$className->block()">
	<use xlink:href="{$url}#{$props->get(Wavevision\PosobotaExamples\UI\Flag\FlagProps::ISO)}"></use>
</svg>
